[submodule "novice"]
	path = novice
	url = https://github.com/lukaprsina/novice
[submodule "cvinger.net"]
	path = cvinger.net
	url = https://github.com/lukaprsina/cvinger.net
[submodule "avtopralnica"]
	path = avtopralnica
	url = https://github.com/lukaprsina/avtopralnica
[submodule "drive"]
	path = drive
	url = https://github.com/lukaprsina/drive
